body {
    font-family: "HelveticaNeue-Medium", "HelveticaNeue Medium", "Verdana", "Tahoma";
    padding: 30px;
}

.dgtable-wrapper * {
    box-sizing: content-box;
}

.dgtable-wrapper {
    border: solid 1px #ccc;
}

.dgtable-wrapper.rtl {
    direction: rtl;
}

.dgtable {
    border-top: solid 1px #ccc;
    max-width: 100%;
}

.dgtable-header {
    max-width: 100%;
    overflow: hidden;
    background: #eee;
}

.dgtable-header-row {
    height: 26px;
    background-color: inherit;
}

.dgtable-header-cell, .dgtable-cell-preview.header {
    padding: 4px;
    height: 26px;
    background: #ddd;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    cursor: default;
    text-align: left;
}

.dgtable-wrapper .dgtable-header-cell.is-sticky-left,
.dgtable-wrapper .dgtable-cell.is-sticky-left {
    box-shadow: 3px 0 6px rgba(0, 0, 0, .1);
}

.dgtable-wrapper .dgtable-header-cell.is-sticky-right,
.dgtable-wrapper .dgtable-cell.is-sticky-right {
    box-shadow: -3px 0 6px rgba(0, 0, 0, .1);
}

.dgtable-wrapper .dgtable-header-cell.is-sticky-left.is-sticky-right,
.dgtable-wrapper .dgtable-cell.is-sticky-left.is-sticky-right {
    box-shadow: 0 0 6px rgba(0, 0, 0, .1);
}

.dgtable-header-cell {
    float: left;
    border-left: solid 1px #ccc;
    background-color: inherit;
}

.dgtable-header-cell:first-child {
    border-left: 0;
}

.dgtable-header-cell > div, .dgtable-cell-preview.header > div {
    border: 1px dashed transparent;
    white-space: nowrap;
}

.dgtable-header-cell > div {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.dgtable-header-cell.drag-over > div, .dgtable-cell-preview.header.drag-over > div {
    border-color: #666;
    background: #bbb;
}

.dgtable-header-cell.sortable, .dgtable-cell-preview.header.sortable {
    cursor: pointer;
}

.dgtable-header-cell.sorted .sort-arrow {
    float: right;
    display: inline-block;
    width: 15px;
    height: 6px;
    margin: 5px 0 0 0;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAMAAAAi7JTKAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAMAUExURQNOov///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH52dxwAAAACdFJOU/8A5bcwSgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAB9JREFUCB0FwQEBAAAAgJD8Px0VoFKgRKEIpRBUEAgMBlQAL3y6umEAAAAASUVORK5CYII=") no-repeat center center;
}

.dgtable-header-cell.sorted.desc .sort-arrow {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAMAAAAi7JTKAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAMAUExURQNOov///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH52dxwAAAACdFJOU/8A5bcwSgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAB9JREFUCB0FwQEBAAAAgJD8Px2BQFBBKIUoFClQKkANBywAL6PcDsUAAAAASUVORK5CYII=");
}

.dgtable-wrapper.rtl .dgtable-header-cell.sorted .sort-arrow {
    float: left;
}

.dgtable-wrapper.rtl .dgtable-header-cell {
    float: right;
    border-left: 0;
    border-right: solid 1px #ccc;
}

.dgtable-wrapper.rtl .dgtable-header-cell:first-child {
    float: right;
    border-right: 0;
}

.dgtable-row {
    border-top: solid 1px #ccc;
    height: 28px;
    background-color: #fff;
}

.dgtable-row-alt {
    background-color: #fafafa;
}

.dgtable-row:first-child {
    border-top: 0;
    height: 29px;
}

.dgtable.virtual .dgtable-row {
    border-top: 0;
    border-bottom: solid 1px #ccc;
}

.dgtable-cell, .dgtable-cell-preview {
    padding: 4px 4px 4px;
    font-size: 16px;
    line-height: 19px;
}

.dgtable-cell {
    float: left;
    border-left: solid 1px #ccc;
    min-height: 100%;
    background-color: inherit;
}

.dgtable-wrapper.rtl .dgtable-cell {
    float: right;
    border-left: 0;
    border-right: solid 1px #ccc;
}

.dgtable-wrapper.rtl .dgtable-cell:first-child {
    float: right;
    border-right: 0;
}

.dgtable-cell > div, .dgtable-cell-preview > div {
    max-height: 100%;
    white-space: nowrap;
    overflow: hidden
}

.dgtable-cell:first-child {
    border-left: 0;
}
